@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>欢迎来到</h1>
</div>

<div class="row">
    <div class="clo-md-3">
        <h1>111</h1>
    </div>

    <div class="clo-md-3">
        <h1>222</h1>
    </div>
    <div class="clo-md-3">
        <h1>333</h1>
    </div>
    <div class="clo-md-3">
       <h1>444</h1>
   </div>

</div>
